#container {
    width: 500px;
    height: 250px;
    margin: 8px auto;
}
body{
    padding-top: 70px;
    font-size: 14px;
}
/* * * * *Nagrada frame* * * * * */
.nagrada {
    display: inline;
    margin-left: 20%;
    padding: 16px;
    margin-bottom: 10px;
}

.nagrada img {
    width: 64px;
    height: 64px;
    text-align: center;
    padding: 12px;
    transition: .5s;
}

.nagrada img:hover {
    width: 67px;
    height: 67px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    transition: .5s;
}

.carousel-controls {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.carousel-indicators {
    bottom: -20px;
}

.carousel-indicators li {
    border: 1px solid #808080;
}

.carousel-indicators .active {
    background-color: #269abc;
}

/* * * * *Raiting frame* * * * * */
a {
    text-decoration: none;
}

th {
    font-size: 16px;
}

#nagrada-frame {
    display: none;
}

#raiting-frame {
    display: none;
}

.gold_text {
    font-size: 28px;
    color: gold;
    font-weight: 700;
    text-shadow: 1px 1px white;
}

.raiting_item img {
    width: 48px;
    height: 48px;
    margin-top: 10px
}

.raiting_item p {
    margin-top: 20px;
    font-size: 18px
}

.question {
    font-size: 16px;
    color: #464646;
    alignment: center;
    margin-left: 8px;
    margin-top: 8px;

}

.answers_item {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #2196F3;
    color: #ffffff;
    font-size: 16px;
    padding: 4px;
    margin: 4px;
    margin-left: 24px;
    transition: .5s;
    cursor: pointer;
}

.answers_item:hover {
    background-color: #2196F3;
    border: 2px solid rgba(0, 0, 0, 1);
    transition: .5s;
    /*Сделать текст не выделямым*/
}

.correct {

    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 4px;
    margin: 4px;
    margin-left: 8px;
    transition: .5s;
    background-color: #4CAF50;
}


.incorrect {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    padding: 4px;
    margin: 4px;
    margin-left: 8px;
    transition: .5s;
    background-color: #F44336;
}

/*finish.style*/

.nagrada-finish img {
    width: 24px;
    height: 24px;
}

.nagrada-finish span {
    margin-left: 30%;
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px
}

.fd_text {
    font-size: 16px;
}

.nagrada-finish h3 {
    color: gold;
    font-family: tahoma, verdana, arial, sans-serif;
    font-weight: 600;
}

.nagrada-finish .player_name {
    margin-left: 42px;
    margin-top: 2px;
    cursor: pointer;
}
.img-circle{
    cursor: pointer;
}
.player_name:hover {
    transition:.10s;
    color: #1b3b4c;
}

#ul_for_answer {
    list-style-type: none;
    margin-top: 15%;
}

#ul_for_answer li {
    margin: 0 5px 5px 5px;
    padding: 10px;
}

html > body #ul_for_answer li {
    height: 3em;
    width: 3em;
    display: inline;
    line-height: 1.2em;
}

.ui-state-highlight {
    line-height: 1.2em;
    background-color: #269abc;
    border-radius: 0.3em;
}

.note_award div {
    margin: 2px;
}
.footer {
    position: fixed;
    bottom:0;
    width: 100%;
    max-height: 40px;
    padding:8px;
    background-color: #d9edf7;
    text-decoration: none;
}

.note_awards {
    display: none;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    left: 200px;
    top: 100px;
    border-radius: 5%;
    border: 1px solid black
}