/* Style text and images*/
.navbar-text-style {
    font-family: fantasy;
    font-size: 20px;
    color: #ffffff;
    float: left;
    margin: 15px 15px 10px 10px;
}
.img-header{
    width: 48px;
    height: 48px;
}
.home-text-style {
    font-size: 20px;
    font-family: sans-serif;
    color: #ffffff;
}

.container-text-header {
    text-align: center;
}

.img-forgot-password {
    float: left;
    width: 152px;
    height: 152px
}
.welcome-text {
    text-align: center;
    padding: 10px 10px;
    color: #ffffff;
    font-family: sans-serif;
}
.text-purpose {
    text-indent: 20px;
    text-align: justify;
    font-size: 16px;
}

/* Style of contents*/
.navbar-inverse {
    background-color: #0099CC;
}
.navbar-inverse .navbar-nav > li >a{
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li >a:hover{
    color: #5bc0de;
}
.navbar-inverse .navbar-nav > .open >a,
.navbar-inverse .navbar-nav > .open >a:hover,
.navbar-inverse .navbar-nav > .open >a:focus {
    background-color: #0099CC;
}
.navbar-brand {
    padding: 8px 8px;
}

.container-fluid-1-style {
    background-color: #33B5E5;
}
.container-purpose {
    width: 35%;
    height: 100%;
    float: right;
    margin-top: 90px;
    margin-right: 5%;
    color: #ffffff;
}
.panel-style {
    width: 50%;
    height: 520px;
    border: solid 8px #7fbbda;
    margin-top: 20px;
    margin-left: 5%;
    background-color: #ffffff;
    float: left;
}
.form-teacher {
    margin-top: 25px;
}
.submit {
    float: right;
}

.form-teacher ::-webkit-input-placeholder{
    color: #555555;
}
input:focus:invalid {
    background: #fff url(../img/invalid_icon.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
input:required:valid {
    background: #fff url(../img/valid_icon.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.select_valid, .select_valid:focus {
    background: #fff url(../img/valid_icon.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.select_invalid:focus {
    background: #fff url(../img/invalid_icon.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
/* 0099CC 33B5E5 FF8800 FFBB33 */