.fa .fa-times {
    background-color: #c9302c;
}
body{
    margin-top: 70px;
}

.delete_icon {
    background: url("../img/delete_normal.png");
    transition: .5s;
    cursor: pointer;
    visibility: hidden;
    /* opacity: 0;*/
}

.delete_icon:hover {
    background: url("../img/delete_hover.png");
    transition: .5s;

    opacity: 1;
}

#alim {
    width: 230px;
    height: 230px;
    border: solid 1px #b9b9b9;
    box-shadow: -5px 2px 48px rgba(0, 0, 0, 0.29);
}

#submit {
    visibility: hidden;
}

.ch {
    cursor: pointer;
}

.ch:hover {
    cursor: hand;
    transition: .5s;
    color: #484848;
}