.fa .fa-times {
    background-color: #c9302c;
}

.delete_icon {
    background: url("delete_normal.png");
    transition: .5s;
    border: solid 0px;
}

.delete_icon:hover {
    background: url("delete_hover.png");
    transition: .5s;
}

#alim {
    width: 230px;
    height: 230px;
    border: solid 1px #b9b9b9;
    box-shadow: -5px 2px 48px  rgba(0, 0, 0, 0.29);
}